<!-- insert meta information of page -->
<% content_for :meta do %>
  <title><%= @cross_page.meta_title %></title>
  <meta name="description" content= "<%= @cross_page.meta_description %>">
<% end %>

<!-- banner -->
<!-- <div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cross_page.banner%>')"> -->
  <div class="banner">
  <div class="container">
    <h1><%= @cross_page.title %></h1>
    <p><%= @cross_page.description %></p>
  </div>
</div>


<% @companies.each do |company| %>
  <%= company.name %>
<% end %>
