<!-- insert meta information of page -->
<% content_for :meta do %>
  <title><%= @site.meta_title %></title>
  <meta name="description" content= "<%= @site.meta_description %>">
<% end %>

<div class="container">
  <div>
    <h2 class="contact-title">Contactez nous :</h2>
  </div>
  <div class="form-group col-sm-8 offset-sm-2 col-xs-12 aligned">
    <%= simple_form_for @contact, url: 'examples_vertical_path' do |f| %>
      <%= f.error_notification %>
      <%= f.input :user, placeholder: 'Nom Prénom', label:  false %>
      <%= f.input :user_info, placeholder: 'Ville', label:  false %>
      <%= f.input :email, placeholder: 'Votre email', label:  false %>
      <%= f.input :body, placeholder: 'Votre message', class: "core-message",as: :text, label:  false %>
      <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
