<!-- insert meta information of page -->
<% content_for :meta do %>
  <title><%= @site.meta_title %></title>
  <meta name="description" content= "<%= @site.meta_description %>">
<% end %>


<%= simple_form_for @company do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :mail %>
  <%= f.input :description %>
  <%= f.association :tags, as: :check_boxes %>
  <%= f.button :submit %>
<% end %>
