<!-- insert meta information of page -->
<% content_for :meta do %>
  <title><%= @site.meta_title %></title>
  <meta name="description" content= "<%= @site.meta_description %>">
<% end %>

<div class="container">
  <div>
    <h2 class="contact-title">Proposez votre école/compagnie :</h2>
  </div>
  <div class="form-group col-sm-8 offset-sm-2 col-xs-12 aligned">
    <%= simple_form_for @company do |f| %>
      <%= f.input :name, placeholder: 'Nom :', label:  false %>
      <%= f.input :address, placeholder: 'Adresse :', label:  false %>
      <%= f.input :mail, placeholder: 'Email :', label:  false %>
      <%= f.input :description, placeholder: 'Descriptions, horaires, tarifs, etc... :', as: :text, label:  false %>
      <div class="tags">
      <%= f.association :tags, as: :check_boxes, label: false%>
      </div>
      <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
