<!-- insert meta information of page -->
<% content_for :meta do %>
  <title><%= @site.meta_title %></title>
  <meta name="description" content= "<%= @site.meta_description %>">
<% end %>

<!-- banner -->
<!-- <div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @site.banner%>')"> -->
  <div class="banner">
  <div class="container">
    <h1><%= @site.title %></h1>
    <p><%= @site.description %></p>
  </div>
</div>

<!--
<% @companies.each do |company| %>
<p><%= company.name %></p>
<% end %>
 -->


<!-- cards for cross-pages -->
<div class="container">
  <div class="title">Trouvez la troupe qui vous correspond</div>
    <div class="cards">
      <% @cross_pages.each do |cross_page| %>
        <%= link_to "#{cross_page.slug}" do %>
          <div class="card-category">
             <%= cross_page.tags.first.name.capitalize %>
          </div>
        <% end %>
      <% end %>
    </div>


<div class="title subtitle"> Ils font du théâtre à <%= find_city_name_in_url.capitalize %>
  </div>


<% @companies.last(5).each do |company| %>
  <div class="card-product">
    <%= image_tag("theatre#{company.id % 5}") %>
    <div class="card-product-infos">
      <div class="d-flex justify-content-between">
        <h2><%= company.name %></h2>
        <p class="mail"><%= company.mail %></p>
      </div>
      <p class="address"><%= company.address%></p>
      <p><%= company.description %></p>
    </div>
  </div>
<% end %>

</div>

