<!-- insert meta information of page -->
<% content_for :meta do %>
  <title><%= @site.meta_title %></title>
  <meta name="description" content= "<%= @site.meta_description %>">
<% end %>

<%= render 'shared/banner' %>


<!-- <div class="btn btn-primary">Olla</div>



<h1>
  "hello"
</h1>
<p><%= request.original_url %></p>
<p><%= request.fullpath %></p>

<% @cross_pages.each do |cross_page| %>
  <%= link_to cross_page.tags.first.name.capitalize, "#{cross_page.slug}" %>
<% end %>

<p><%= @city %></p>
<% @companies.each do |company| %>
<p><%= company.name %></p>
<% end %>


<%= @markdown.render("This is *bongos*, indeed.").html_safe %>

 -->
<div class="container">
  <div class="title">Trouvez la troupe qui vous correspond</div>
  <div class="cards">
    <% Tag.all.each do |tag|  %>
      <div class="card-category" style="background-image: linear-gradient(#141E30, #243B55, #141E30">
      <%= tag.name.capitalize %>
      </div>
    <% end %>

  </div>
</div>
